{{- if and .Values.configuration.general.secretPassPhrase.useSecret (not .Values.configuration.general.secretPassPhrase.existingSecret)}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "velero-ui.passPhraseSecretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "velero-ui.labels" . | nindent 4 }}
  {{- with .Values.configuration.general.secretPassPhrase.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{ .Values.configuration.general.secretPassPhrase.key }}: {{ .Values.configuration.general.secretPassPhrase.value | b64enc | quote }}
{{- end}}
{{- if and .Values.configuration.auth.password.useSecret (not .Values.configuration.general.secretPassPhrase.existingSecret)}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "velero-ui.authPasswordSecretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "velero-ui.labels" . | nindent 4 }}
  {{- with .Values.configuration.auth.password.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{ .Values.configuration.auth.password.key}}: {{ .Values.configuration.auth.password.value | b64enc | quote }}
{{- end }}

